<div class="page-heading">
  <h1 class="page-title">Announcments</h1>
  <div class="button-group">
    <button class="button heading-button" (click)="addMenu()">
      Add announcment
    </button>
    <button class="button heading-button" (click)="searchMenu()">Search</button>
  </div>
</div>
<div class="form-container" *ngIf="addPressed">
  <form class="form" [formGroup]="addForm" (ngSubmit)="addAnnouncment()">
    <div>
      <p class="form-text">Title</p>
      <input type="text" maxlength="30" formControlName="title" />
    </div>
    <div>
      <p class="form-text">Description</p>
      <textarea
        class="description"
        maxlength="200"
        type="text"
        formControlName="description"
      ></textarea>
      <p class="tip">
        *Max length for title is 40 characters and for description 200
      </p>
    </div>
    <div>
      <button class="button form-button" [disabled]="addForm.invalid">
        Add
      </button>
    </div>
  </form>
</div>
<div class="search" *ngIf="searchPressed">
  <div>
    <p class="form-text">Search</p>
    <input type="text" [(ngModel)]="search" />
  </div>
  <button class="button form-button" (click)="searchAnnouncment()">
    Search
  </button>
</div>
<div class="show-container">
  <p class="show-announcments" (click)="showAnnouncments()"> Show announcments {{showPressed?"▲":"▼"}} </p>
</div>

  <div *ngIf="showPressed" class="list">
    <div *ngFor="let i of announcmentList">
      <app-announcment [announcment]="i"> </app-announcment>
    </div>
  </div>


<div id="result">
  <div *ngIf="searchStarted">
    <div>
      <div class="list">
        <p class="search-res">Search results</p>
        <app-announcment
          *ngIf="announcmentDidFind"
          [searched]="true"
          [announcment]="announcmentFound"
        >
        </app-announcment>
        <p class="search-res" *ngIf="!announcmentDidFind">Nothing found</p>
        <div *ngIf="announcmentDidFind" class="list">
          <p class="search-res">Similar announcments</p>
          <div *ngFor="let i of similarAnnouncment">
            <app-announcment [searched]="true" [announcment]="i"> </app-announcment>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
